h1 { font-family: 'Source Sans Pro', sans-serif; font-size: 58px; color: #034a53; font-weight: 700; margin-top: 50px; margin-bottom: 40px; }
label { color: #f07025 !important; text-align: center !important; }
hr { border-top: 2.2px dotted #f07025; margin-bottom: 50px !important; }