html, body {
    font-family: 'Source Sans Pro', sans-serif !important;
  }
  body { height:100%; width:100%; margin:0; padding:0; }
  
  /*------> Navigation <------*/
  
  .container { margin: 0 auto !important; max-width: 1280px !important; width: 85% !important; }
  .brand-logo img { vertical-align: middle; height: 40px; }
  nav .row { margin-bottom:0; }
  .nav-wrapper { background-color: rgba(207, 207, 207, 0.6) !important; font-weight: bold; height: 70px; }
  .nav-wrapper a { color: #06717e !important; font-size: 17px !important; font-weight: 400; }
  
  /*------> Side Navigation <------*/
  
  .sidenav { width: 360px !important; height: auto !important; }
  .sidenav img { height: 40px; margin-top: 10px; display: block; margin-left: auto; margin-right: auto; }
  .socmed-side { background-color: rgba(207, 207, 207, 0.9); width: 100%; height: auto; margin-top: -15px; margin-bottom: 20px; }
  .socmed-side p { color: #06717e; font-family: 'Montserrat', sans-serif; font-weight: 500; text-align: center; }
  .socmed-icons { margin-left: 90px; margin-right: 0px; }
  #fb-side img { width: 43px; height: auto; margin-left: 70px; }
  #pinterest-side img { width: 43px; height: auto; margin-left: 10px; }
  
  /*------> Search <------*/
  h3 { display: none; }
  .search { margin-left: 5px; background: white; width: 275px;  }
  .track { width: 190px; padding: 10px; font-size: 20px; border: none; outline: none; }
  .button1 { color: white; width: 65px; padding: 10px; font-size: 20px; border: none; background: #06717e; border-radius: 3px; }
  .search, .submit:hover { padding: 3px; border-radius: 3px; text-align: center; }
  
  .track-trace { display: none; }
  .button { display: none; }
  
  /*------> Header Section <------*/
  
  .parallax-container { width: 100% !important; height: 590px !important; }
  .parallax img { display: block; }
  .mobile-bg img { display: none; }
  
  /*------> Container <------*/
.sg img { margin-top: 20px; }
  h1 { font-family: 'Montserrat', sans-serif;  font-size: 55px; color: #f07025; }
  h2 { font-family: 'Montserrat', sans-serif;  font-size: 15px; font-weight: 700; color: #f07025; margin-bottom: -5px; }
  p { font-family: 'Montserrat', sans-serif;  font-size: 13px; color: #06717e; }
  hr { border-top: 2.2px dotted #f07025; }
  #icon { margin-right: 10px; font-family: 'Montserrat', sans-serif; font-weight: 900; font-size: 12.5px; color: #06717e; margin-left: 5px; }
  #icon i {  padding-bottom: 5px; }
  #icon img { width: 18px; }
 
  
    /*------> Footer <------*/
  
    body { display: flex; min-height: 100vh; flex-direction: column; }
  
    main { flex: 1 0 auto; }
   .page-footer, .container { padding-bottom: 30px; }
   .page-footer { background-color: rgba(207, 207, 207, 0.9) !important; font-size: 12px; font-family: 'Montserrat', sans-serif; font-weight: 700; }
   .page-footer a { float: left; color: #06717e; text-align: center; padding: 14px; margin-top: -20px; }
   a:hover { color: #034a53; }
   .apps p { font-family: 'Source Sans Pro', sans-serif; font-size: 13px !important; font-weight: 600 !important; color: #06717e;
     text-align: left; margin-left: 10px !important; padding-top: 70px; margin-bottom: 10px; }
   #google img { width: 130px; height: auto; float: left; margin-top: -20px; margin-left: 10px; }
   #apple img { width: 130px; height: auto; float: left; margin-top: -20px; margin-left: 10px; }
   
     /*------> Right Footer <------*/
   
   .right-footer { float: right; width: 650px; height: 162; margin-top: -140px; }
   .book-btn { background-color: #f07025; width: 210px; height: auto; border-radius: 5px; margin-left: 175px; }
   .right-footer a { color: white !important; font-family: 'Montserrat', sans-serif; font-size: 25px; font-weight: 700; padding-bottom: 10px !important; }
   
   /*------> SocMed<------*/
   
   .socmed { color: #06717e; margin-top: 60px; margin-left: 170px; }
   #fb img { width: 43px; height: auto; margin-left: 60px; }
   #pinterest img { width: 43px; height: auto; margin-left: 10px; }