/*------> Container <------*/
.d2d { margin-top: auto; margin-bottom:auto; text-align:center; margin-top: 50px; }
.d2d img { width: 128px; height: auto; }
.flow-text { font-family: 'Source Sans Pro', sans-serif; font-size: 25px; color: #06717e; font-weight: 800; text-align: center; }
