  /*------> Container <------*/

  .pic { width: 218px; height: auto; display: block;  margin-left: auto; margin-right: auto; margin-top: 50px; padding-bottom: 0px; }
  .content { border-left: dotted 2px #f07025; border-top: dotted 2px #f07025; }
  h1 { font-family: 'Source Sans Pro', sans-serif; font-size: 58px !important; color: #f07025; margin-top: 0px; }
  #p p { font-family: 'Source Sans Pro', sans-serif; font-size: 15px !important;  font-weight: 600 !important; color: #06717e;
    text-align: justify; margin-left: 10px !important; }